* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #e0f2f7 0%, #c1e4f4 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar */
.nav-bar {
  height: 80px;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.logo {
    background-image: url(ai2.png);
    background-size: contain;   /* scale the image properly */
    background-repeat: no-repeat;
    background-position: center;
    height: 2000px;
    width: 250px;
}

.logo h1 {
  font-size: 20px;
}

.logo p {
  font-size: 12px;
  opacity: 0.8;
}

/* Form Container */
.form-container {
  margin-top: 100px;
  background: #fdfeff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  width: 350px;
  height: 400px;
  text-align: center;
}

.form-container h2 {
  color: rgba(255, 0, 81, 0.812);
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  color: #030000;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  /* border-radius: 6px; */
  background: #0f172a;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form-group a {
  font-size: 13px;
  color: #fb0000;
  text-decoration: none;

}

.form-group p {
  font-size: 14px;
  color: #040000;
}

.form-group p a {
  color: #ff0000;
  text-decoration: none;
}

/* Button */
.btn {
  width: 100%;
  padding: 10px;
  background: linear-gradient(135deg, #e0f2f7 100%, #c1e4f4 100%);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}
.form-group a:hover {
    color: rgb(225, 0, 94);
}
